<div class="create-tasks">
  <h1 class="create-tasks__title">Criar Tarefas</h1>

  <form [formGroup]="formGroup" class="create-tasks__formGroup">

    <div class="create-tasks__field">
      <mat-label>Título</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="title" placeholder="Digite o título">
      </mat-form-field>
    </div>

    <div class="create-tasks__category">
      <mat-label>Categoria</mat-label>

      <div class="create-tasks__register-category">
        <mat-form-field appearance="outline">
          <mat-select formControlName="category" placeholder="Selecione uma categoria">
            <mat-option *ngFor="let data of category" [value]="data">
              {{data.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button matFab (click)="openModal()">
          <span class="material-icons">add</span>
        </button>
      </div>

    </div>

    <div class="create-tasks__grid-fields">
      <div class="create-tasks__field">
        <mat-label>Prioridade</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="priority" placeholder="Selecione uma prioridade">
            <mat-option *ngFor="let data of priority" [value]="data">
              {{data.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="create-tasks__field">
        <mat-label>Status</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="status" placeholder="Selecione um status">
            <mat-option *ngFor="let status of status" [value]="status">
              {{status.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="create-tasks__grid-fields">
      <div class="create-tasks__field">
        <mat-label>Início da tarefa</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="startDt" placeholder="Data inicial" [matDatepicker]="startPicker"/>
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div class="create-tasks__field">
        <mat-label>Prazo final da tarefa</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="endDt" placeholder="Data final" [matDatepicker]="endPicker"/>
          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="create-tasks__field">
      <mat-label>Descrição</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="description" placeholder="Digite a descrição">
      </mat-form-field>
    </div>

    <div class="create-tasks__actions">
      <button mat-flat-button color="primary" (click)="submitForm()">Criar</button>
    </div>

  </form>
</div>