// _variables.scss

// Texts
$text-color-primary: #1B2128;

//Background

//Btn Background

//Btn text color

//Outlines
$outline-color: #E4E4E4;





$text-color-secondary: #06b6d4;
$text-color-accent: #f59e0b;

$color-white: #ffffff;
$color-black: #000000;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-900: #111827;


$color-success: #10b981;
$color-warning: #fbbf24;
$color-error: #ef4444;
